body {
  position: fixed;
  top:0 ;
  left: 0;
  height: 100%;
  width: 100%;
}
.map {
  position: relative;
  height: 100%;
  width: 100%;
  outline: none;
  background-color: #445a71;position: relative;
}
